on:
  push:
    branches:
      - master
  pull_request:

env:
  APT_PACKAGES: "gcc make libsdl2-dev libsdl2-mixer-dev libsdl2-ttf-dev"

jobs:
  compile-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    - run: sudo apt install $APT_PACKAGES
    - run: make -j2
  iwyu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    - run: sudo apt install $APT_PACKAGES iwyu
    # https://bugs.launchpad.net/ubuntu/+source/libsdl2-ttf/+bug/1872023
    - run: FLAGS="-I/usr/include/SDL2 -I$(echo /usr/lib/llvm-8/lib/clang/8.*/include)" ./iwyu.sh
