on:
  push:
    branches:
      - master
  pull_request:

env:
  APT_PACKAGES: "gcc make libsdl2-dev libsdl2-mixer-dev libsdl2-ttf-dev"

jobs:
  linux-build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    - run: sudo apt update && sudo apt install $APT_PACKAGES
    - run: CFLAGS=-Werror make -j2

  iwyu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    # Apparently iwyu also needs clang-9, "iwyu --version" says it's based on it
    # Errors I got without:
    #
    #   /usr/include/x86_64-linux-gnu/sys/types.h:144:10: fatal error: 'stddef.h' file not found
    #
    - run: sudo apt update && sudo apt install $APT_PACKAGES iwyu clang-9
    - run: make -j2 -k iwyu

  windows-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    - run: sudo apt install make mingw-w64
    # Download links used (choose mingw instead of visual studio):
    #  https://www.libsdl.org/download-2.0.php
    #  https://www.libsdl.org/projects/SDL_mixer/
    #  https://www.libsdl.org/projects/SDL_ttf/
    - run: |
        mkdir libs
        cd libs
        wget https://www.libsdl.org/release/SDL2-devel-2.0.14-mingw.tar.gz
        wget https://www.libsdl.org/projects/SDL_mixer/release/SDL2_mixer-devel-2.0.4-mingw.tar.gz
        wget https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-devel-2.0.15-mingw.tar.gz
        tar xf SDL2-*
        tar xf SDL2_mixer-*
        tar xf SDL2_ttf-*
    - run: source winbuildenv && make -j2
    - uses: actions/upload-artifact@v2
      with:
        name: windows-build
        path: build

  windows-test:
    runs-on: windows-latest
    needs: windows-build
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: windows-build
    - run: .\testrunner.exe
