on:
  push:
    branches:
      - mini

jobs:
  iwyu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git submodule init && git submodule update
    - run: sudo apt update && sudo apt install gcc make iwyu clang-9
    - run: |
        ((iwyu $FLAGS -Xiwyu --mapping_file=iwyumappings.imp main.c || true) 2>&1) | sed '/has correct #includes/d' | (! grep .)
