on:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --tags
    - id: tagname
      run: |
        if git tag -l --contains HEAD | grep .; then
          # Commit already tagged
          echo "::set-output name=datetag::"
        else
          echo "::set-output name=datetag::master-$(date +'%Y-%m-%d')"
        fi
    - if: ${{ steps.tagname.outputs.datetag != '' }}
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require('fs');

          // Based on:  https://github.com/python/typeshed/blob/82fa8473ffddc57a53b4dbcb1063aa2e66352ca9/.github/workflows/mypy_primer_comment.yml
          const run = (
              await github.actions.listWorkflowRunsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
                branch: 'master',
              })
            ).data.workflow_runs
            .filter(run => run.name === '.github/workflows/main.yml')
            .sort((a, b) => (+new Date(b.created_at)) - (+new Date(a.created_at)))[0];

          const [artifact] = (
              await github.actions.listWorkflowRunArtifacts({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: run.id,
              })
            ).data.artifacts
            .filter(a => a.name === 'windows-build');

          const zip = await github.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: artifact.id,
              archive_format: 'zip',
          });
          fs.writeFileSync("windows-build.zip", new Buffer(zip.data));
    - if: ${{ steps.tagname.outputs.datetag != '' }}
      run: |
        # Couldn't figure out how to get archive to have nested directory inside it
        unzip -d 3D_game_${{ steps.tagname.outputs.datetag }} windows-build.zip
        zip -r build.zip 3D_game_${{ steps.tagname.outputs.datetag }}
    # https://stackoverflow.com/a/64479344
    - if: ${{ steps.tagname.outputs.datetag != '' }}
      uses: actions/github-script@v3
      with:
        github-token: ${{ github.token }}
        script: |
          github.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: "refs/tags/${{ steps.tagname.outputs.datetag }}",
            sha: context.sha
          })
    - if: ${{ steps.tagname.outputs.datetag != '' }}
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tagname.outputs.datetag }}
        release_name: ${{ steps.tagname.outputs.datetag }}
    - if: ${{ steps.tagname.outputs.datetag != '' }}
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build.zip
        asset_name: 3D_game_${{ steps.tagname.outputs.datetag }}.zip
        asset_content_type: application/zip
